.circular-button-image{
    border: 3px solid;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.circular-button-image:hover{
    background-color: #0042EB;
    transition: .3s;
}


