.box{
    background:lightgray;
    border-radius: 10px;
    margin-top:-200px; 
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
    transition: 0.1s;
    height: 250px;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.02);
}

.containers{
    padding: 3% 3% 0;
    text-align: justify;
    margin-top:10px;
  }
  
  .containers:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .containers .item,
  .containers .gap{
    display: inline-block;
    width: 49%;
  }
  
  .containers .item{
    text-align: left;
    margin-bottom: 2%;
    margin:0.5%;
  }

  
  .containers .item:before{
    content: '';
    display: inline-block;
    padding-top: 200px;
  }
  
  @media all and (min-width: 420px){
    .containers .item,
    .containers .gap{
      width: 32%;
    }
  }
  
  @media all and (min-width: 1080px){
    .containers .item,
    .containers .gap{
      width: 23.5%;
    }
  }

  .preview-text{
    font-family: 'CircularStd';
    color: white;
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    transition: .3s;
  }

  



